
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.sublime-*
.*.swo
.*.swp
.cache/
.coverage
.direnv/
.env
.envrc
.gradle/
.idea/
.tox*
.venv*
.vscode/
/*/*pinned.txt
/*/.mypy_cache/
/*/MANIFEST
/*/activate
/*/build/
/*/config
/*/coverage.xml
/*/dist/
/*/htmlcov/
/*/product-spec.json
/build/
/config/external/
/dist/
/ligradle/
TEST-*.xml
__pycache__/
.DS_Store


build
/*/config
.shelf
*.iml
*.ipr
*.iws
